.body{
	background-color:#7373ff;
	padding-bottom:800px;
}

.headBar{
	position:fixed;
	width:100%;
	left:0;
	top:0;
	height:75px;
}

.headBar .front{
	z-index:100;
}

.headBar .back{
	z-index:99;
	opacity:0;
	transition:all 250ms linear;
	-webkit-transition:opacity 250ms linear; /* Chrome < 26, Safari < 9 */
	-moz-transition:opacity 250ms linear; /* Firefox < 16 */
	-o-transition:opacity 250ms linear; /* Opera < 12.10 */
}

.la-hoverListItem:hover{
	background-color:#9e9e9e;
}